* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}

header,
section {
  margin-bottom: 48px;
}
img {
  width: 100%;
}
h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}
.header-text-box {
  align-self: center;
}
.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

figure img {
  margin-bottom: 24px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  padding: 8px 16px;
  font-size: 14px;
}
/* FEATURES */
.feautures-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}
.feautures-text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
}
.testimonial-text-box {
  grid-column: 2 / -1;
  align-self: center;
}
.testimonial-text-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}
.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* CHAIRS */

.chair-text-box {
  padding: 24px;
}
h3 {
  margin-bottom: 24px;
  font-size: 20px;
}
.chair-details {
  list-style: none;
  margin-bottom: 24px;
}
.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  font-size: 18px;
}
.chair-details li:last-child {
  margin-bottom: 0;
}
.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

/*  FOOTER */
footer {
  margin-bottom: 48px;
  font-size: 12px;
  text-align: center;
  color: #495057;
}
